

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  grid-auto-rows: 200px;
  grid-gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.15);
}

.avatar {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px 0 15px 15px;
}

.image {
  width: 90px;
  height: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  justify-content: center;
}

.title {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.content {
  font-size: 0.8em;
  margin: 0;
}
