@font-face {
    font-family: mferFont;
    src: url("fonts/SartoshiScript-Regular.otf") format("opentype");
}

@font-face {
    font-family: mferFont;
    font-weight: bold;
    src: url("fonts/SartoshiScript-Regular.otf") format("opentype");
}

* {
   font-family: mferFont;
}

body {
    background: #f6f9fc;
}


.html-content-holder {
    background-size: contain; 
}

.mferImg img {
    margin: 10px;
    border-radius: 10px;
}

.mferImg {
    text-align: center;
}


select {
    border:none;
    font-weight: bold;
    margin: 5px;
    font-size: 2rem;
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    background: white;
    appearance: none;
    color: black;
}


input{
    border:none;
    font-weight: bold;
    margin: 5px;
    font-size: 2rem;
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    width: 100%;
    color: black;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.navigationWrapper {
width: 100%;
float: left;
padding-bottom: 20px;
margin-bottom: 20px;
border-bottom: solid 1px lightgray;
}


.traitWrapper {
    float: left;
    margin: 10px;
    border: solid 1px lightgray;
    border-radius: 5px;
    background: white;
    padding-right: 10px;
}

.traitWrapper>label {
    position: absolute;
    color: gray;
    font-size: 1rem;
    margin-left: -5px;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
}

.titleSection h1 {
    font-size: 5rem;
    letter-spacing: -.02em;
}

.titleSection h1, .titleSection p {
    margin: 0;
}

.titleSection p {
    font-size: 2.05rem;
    letter-spacing: -.03em;
}

.titleSection {
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: solid 1px lightgray;
}

.buildMfers {
    font-size: 2rem;
    width: 75px;
    background: #5468ff;
    color: white;
    border: 1px solid #5468ff;
    padding: 10px;
}

.filter {
    font-size: 2rem;
    width: 75px;
    background: #5468ff;
    color: white;
    border: 1px solid #5468ff;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

.lineWrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

.line {
    border-bottom: solid 1px lightgray;
}

.iconWrapper {
    text-align: center;
    margin-top: -20px;
}

.dropdown {
display: none;  
    
}

.seedWrapper {
    width: 98%;  
    display: flex;
    border-radius: 5px 0 0 5px;
    padding-right: 0;
    border: none;
    background: none;
    float: left;
    margin: 10px;
}

.seedWrapper input {
    font-weight: bold;
    margin: 0px;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    color: black;
    background: none;
    border: none;
}

.seedWrapper input::placeholder {
  color: black;
  opacity: 1;
}

.wtfButton {
    font-size: 3rem;
    float: left;
    margin: 10px;
    border: solid 1px lightgray;
    border-radius: 5px;
    background: white;
    padding: 1rem;
    color: black;
    appearance: none;
}

.quantity {
    padding-bottom: 0;
}
