@font-face {
    font-family: mferFont;
    src: url("fonts/SartoshiScript-Regular.otf") format("opentype");
}

@font-face {
    font-family: mferFont;
    font-weight: bold;
    src: url("fonts/SartoshiScript-Regular.otf") format("opentype");
}

* {
   font-family: mferFont;
}

body {
    background: #f6f9fc;
}


.html-content-holder {
    background-size: contain; 
}

.mferImg img {
    margin: 10px;
    border-radius: 10px;
}

.mferImg {
    text-align: center;
}


select {
    border:none;
    font-weight: bold;
    margin: 5px;
    font-size: 2rem;
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    background: white;
    appearance: none;
    color: black;
}


input{
    border:none;
    font-weight: bold;
    margin: 5px;
    font-size: 2rem;
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    width: 100%;
    color: black;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.navigationWrapper {
width: 100%;
float: left;
padding-bottom: 20px;
margin-bottom: 20px;
border-bottom: solid 1px lightgray;
}


.traitWrapper {
    float: left;
    margin: 10px;
    border: solid 1px lightgray;
    border-radius: 5px;
    background: white;
    padding-right: 10px;
}

.traitWrapper>label {
    position: absolute;
    color: gray;
    font-size: 1rem;
    margin-left: -5px;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
}

.titleSection h1 {
    font-size: 5rem;
    letter-spacing: -.02em;
}

.titleSection h1, .titleSection p {
    margin: 0;
}

.titleSection p {
    font-size: 2.05rem;
    letter-spacing: -.03em;
}

.titleSection {
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: solid 1px lightgray;
}

.buildMfers {
    font-size: 2rem;
    background: none;
    border: none;
}

.filter {
    font-size: 2rem;
    width: 75px;
    background: #5468ff;
    color: white;
    border: 1px solid #5468ff;
    padding: 10px;
    border-radius: 0 5px 5px 0;
     margin: 0;
}

.lineWrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

.line {
    border-bottom: solid 1px lightgray;
}

.iconWrapper {
    text-align: center;
    margin-top: -20px;
}

.seedWrapper {
    width: 98%;  
    display: flex;
    border-radius: 5px 0 0 5px;
    padding-right: 0;
    border: none;
    background: none;
    float: left;
    margin: 10px;
}

.seedWrapper input {
    font-weight: bold;
    margin: 0px;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    color: black;
    background: none;
    border: none;
}

.seedWrapper input::placeholder {
  color: black;
  opacity: 1;
}

.baseWrapper {
    width: 98%;
    display: flex;
    border-radius: 5px 0 0 5px;
    padding-right: 0;
    border: none;
    background: none;
    float: left;
    margin: 10px;
}

.baseWrapper select {
    font-weight: bold;
    margin: 0px;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    color: black;
    background: white;
    border: solid 1px lightgray;
    border-width: 1px 0px 1px 1px;
    width: 100%;
}

.refresh {
      background: white;
    border: solid 1px lightgray;
    border-width: 1px 0px 1px 0px;
    color: #5468ff;
    font-size: 2rem;
    padding: 20px;  
    margin: 0;
}

.wtfButton {
    font-size: 3rem;
    float: left;
    margin: 10px;
    border: solid 1px lightgray;
    border-radius: 5px;
    background: white;
    padding: 1rem;
    color: black;
    appearance: none;
}

.quantity {
    padding-bottom: 0;
}


.loader {
  width: 200px;
  height: 200px;
}

/* Navigation

.container {
  background-color: #222222;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  min-height: 568px;
  margin: 0 auto;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
}

.menu-trigger, .close-trigger {
  position: absolute;
  top: 32px;
  right: 20px;
  display: block;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 333;
}
.menu-trigger:hover .menu-trigger-bar:before, .close-trigger:hover .menu-trigger-bar:before {
  width: 100%;
}
.menu-trigger:hover .close-trigger-bar:before, .close-trigger:hover .close-trigger-bar:before {
  width: 100%;
}

.close-trigger {
  z-index: 5;
  top: 42px;
}

.menu-trigger-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  margin-bottom: 6px;
  transform: rotate(-45deg);
  position: relative;
}
.menu-trigger-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.menu-trigger-bar.top {
  width: 50%;
}
.menu-trigger-bar.middle:before {
  left: auto;
  right: 0;
}
.menu-trigger-bar.bottom {
  width: 50%;
  margin-left: 50%;
}

.close-trigger-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #222222;
  position: relative;
}
.close-trigger-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.close-trigger-bar.left {
  transform: translateX(100px) translateY(-100px) rotate(-45deg);
}
.close-trigger-bar.right {
  transform: translateX(-100px) translateY(-100px) rotate(45deg);
  top: -3px;
}

.logo {
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -52px;
  margin-left: -32px;
  text-align: center;
  z-index: 10;
}
.logo span {
  display: block;
  text-align: center;
  line-height: 62px;
  font-size: 72px;
  color: white;
}

.logo-title {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  color: #222222;
  font-size: 32px;
  line-height: 82x;
}

.logo-badge {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: 6px;
  right: -6px;
  border-radius: 100%;
  background-color: #6295ca;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

.inner-container, .menu-container {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.inner-container {
  z-index: 20;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu {
  display: block;
  width: 100%;
  padding: 20%;
}
.menu li {
  text-align: left;
  display: block;
  padding: 15px 0;
}
.menu a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 10px 0;
  position: relative;
}
.menu a:hover:before {
  opacity: 1;
  transform: translateX(0px);
}
.menu a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 18px;
  height: 4px;
  opacity: 0;
  background-color: #222222;
  transform: translateX(100px);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu-bg {
  position: absolute;
  display: block;
  width: 200%;
  left: -53%;
  top: -25%;
  height: 40%;
  background-color: white;
}
.menu-bg.middle {
  top: 29%;
  left: -53%;
  transform: rotate(-45deg) scaleY(0);
}
.menu-bg.top {
  left: -34%;
  top: 0;
  transform: rotate(-45deg) translateY(-152%);
}
.menu-bg.bottom {
  top: 105%;
  transform: rotate(-45deg) translateY(25%);
  left: -20%;
}

#links {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  font-size: 13px;
  font-family: tahoma;
  color: #fff;
}

#links a {
  text-decoration: none;
  font-size: 2.3em;
  color: #fff;
}

#twitter {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

#pens {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
